<html>
<head>
</head>
    <body>
        <h4>Ostavite komentar i ocenu</h4>
        <form method="post" action="/Kupac/DodajKomentar">
            <p>Komentar</p>
            <input type="text" name="tekstKomentara" />
            <select name="ocena">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <input type="text" name="manifestacija" />
            <input type="submit" value="Dodaj" />
        </form>
    </body>

</html>