<h1>Hello Admin!</h1>
<p>&nbsp;</p>

<a href="/Admin/RegistrujProdavca">Registruj novog prodavca</a>
<p></p>

<a href="/Admin/Korisnici">Lista korisnika</a>
<p></p>

<a href="/Admin/AktivirajManifestaciju">Aktiviraj Manifestaciju</a>
<p></p>

<a href="/Home/VidiProfil">Vidi Profil</a>
<p></p>
<a href="/Admin/Manifestacije">Manifestacije</a>
<p></p>
<a href="/Admin/SveKarte">Sve Karte</a>