<h1>Hello Prodavac!</h1>

<a href="/Prodavac/KreirajManifestaciju">Nova manifestacija</a>
<p></p>
<a href="/Home/VidiProfil">Vidi Profil</a>
<p></p>
<a href="/Prodavac/Manifestacije">Manifestacije</a>
<p></p>
<a href="/Prodavac/RezervisaneKarte">Rezervisane karte</a>
<p></p>
<a href="/Prodavac/OdobrenjeKomentara">Odobrenje komentara</a>